<div class="container-fluid">


    <form [formGroup]="loginForm">
        <div class="row d-flex w-50">
            <h1 class="mt-5 m-auto p-5 text-center">Mix Panel Demo </h1>

            <label for="email">Email</label>
            <input type="text" id="email" name="email" matInput formControlName="email" />
            <!-- <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email" />
            </mat-form-field> -->
            <label for="password">Password</label>
            <input type="text" matInput formControlName="password" />
            <!-- <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="text" matInput formControlName="password" />
            </mat-form-field> -->

            <button class="btn btn-primary w-50 m-auto" [disabled]="loginForm.invalid" (click)="login()">Login</button>
        </div>
        <button class="btn btn-primary" (click)="login()">Redirect</button>
        <button class="btn btn-primary logout" (click)="logout()">Logout</button>
    </form>

</div>
